              <style>.pt-br{display:none;}</style>
   <div class="col-lg-12 home en dashboard home nofloat">

   <h1 class="homeinttl">About</h1> 

    
<ul class="col-lg-12 clear">
<form action="http://www.rubenmarcus.com/contact.php"> <h3>Me</h3>   
    <p>Hi,I am Ruben Marcus , 25 years old and work with web since I was 20.</p>
    
    
     <p>During these five years of work, I made more than 36 projects with 26 clients,including a web agency, 3 startups and 2 years as a freelancer. </p>
    <p>At the same time I have art and illustration as a hobby and develop 3 projects in those areas : <a href="https://www.facebook.com/trivnglebrvnd">T-Shirt Brand</a>, <a href="https://www.facebook.com/2121nu">a page where I post some inspirations</a>, <a href="https://www.facebook.com/rubenluz">Digital Art,I made.</a> </p>
</ul>

<ul class="col-lg-12 clear">
 <h3>Past</h3>   
    <p>As you can see in my portfolio , I put some works i did before 2011.</p>
    <p>These works actually began long before that, when I had 12 years old and I got my first PC, I discovered Photoshop and Dreamweaver and  start doing websites of music and anime without any pretention.</p>
    <p> From the hobby a profession was made, my father is a programmer, but as I had developed also design skills, I focused more in front-end than the back-end.</p>
</ul>

<ul class="col-lg-12 clear">
 <h3>Future</h3>   
    <p>
At the moment,there still some projects from 2014 that have not been launched, because of deals of contract,and also there are some projects that are going to be launched soon (around 6).</p>
    <p>Also want to have a better production, focusing not only in the websites but in the project in genereal.Want to offer better and consistent solutions to my clients.</p>
    <p> 
    I am very focused in learning Javascript frameworks (this website was made in AngularJs), Pre Processors, TaskRunners and any tool that can help me in the job.</p>
     <p>
     Soon, I am going to launch in github some of the codes I made all those years and some I have been doing.</p>
</ul>



</div>
