              <style>.pt-br{display:none;}</style>
   <div class="col-lg-12 home en dashboard home contact nofloat">

   <h1 class="homeinttl">Contact</h1> 

    
<ul class="col-lg-12 clear">
<form action="http://www.rubenmarcus.com/contato.php" method="post"> <h3>Feel free to suggest,opinate and propose.</h3>   
 
   
  <li class="col-lg-8"><input type="text" placeholder="Name" name="name" required/></li>
  <li class="col-lg-8"><input type="text" placeholder="Company" name="company"/></li>
<li class="col-lg-8"><input type="text" placeholder="E-Mail" name="email" required/></li>
    <li class="col-lg-8"><textarea name="message"  placeholder="Message" required></textarea></li>
       <li class="col-lg-8"><input type="submit" value="Send" ></li>
</form>
</ul>



</div>
