              <style>.pt-br{display:none;}</style>
   

   <div class="col-lg-12 dashboard home nofloat">
    <p>
    Hi,I am Ruben Marcus a
    </p>
   <h1>Webdesigner & Front-end Developer.</h1> 
    <p class="align-right">based in São Paulo,Brasil</p>
    
<ul class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clear">
 <h3>Skills (Master - 2 - 4 years)</h3>   
    <li><b>Webdesign:</b> Visual Ids,Layouts,Email Marketing,Mobile First</li>
    <li><b>Front-end Development:</b> HTML,CSS3,Javascript,Jquery,Bootstrap</li>
<li><b>Back-end Development:</b> PHP,C# ASP.NET,Wordpress</li>
</ul>
<ul class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 <h3>Skills (Novice - 6 months - 1 year)</h3>   
    <li><b>CSS:</b> Sass,Less,Stylus,PostCSS</li>
    <li><b>Front-end Development:</b>Foundation,AngularJS,Twig,Jade(Pug)</li>
    <li><b>Tools:</b> Yeoman,Gulp,Grunt,NPM</li>
</ul>
<ul class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
 <h3>Tools</h3>   
     <li><b> Version Control: </b> TFS,GIT</li>
    <li><b> Development:</b>Brackets,Sublime,Dreamweaver,Visual Studio</li>
    <li><b> Design: </b>Photoshop,Illustrator,After Effects,Premiere</li>
</ul>

<div class="full-cv">
<a href="resume">See my complete Resume</a>
    
</div>


</div>
<section class="col-lg-12 clients">   
 <h3>Clients</h3> <p><a href="contact">Be the next</a></p>  
<ul>
<li class="c4"></li>
<li class="c5"></li>
<li class="c2"></li>
<li class="c21"></li>
<li class="c15"></li>
<li class="c13"></li>
<li class="c3"></li>
<li class="c1"></li>
<li class="c6"></li>
<li class="c7"></li>
<li class="c8"></li>
<li class="c9"></li>
<li class="c10"></li>
<li class="c11"></li>
<li class="c12"></li>
<li class="c14"></li>
<li class="c16"></li>
<li class="c17"></li>
<li class="c18"></li>
<li class="c19"></li>
<li class="c20"></li>
<li class="c22"></li>
<li class="c23"></li>
<li class="c24"></li>
<li class="c25"></li>
<li class="c26"></li>
   </ul> </section>