              <style>.pt-br{display:none;}</style>
   <div class="col-lg-12 home-pt-br dashboard home curriculo nofloat">

   <h1 class="homeinttl">Resume</h1> 
<p><a   target="blank" href="http://www.rubenmarcus.com/Resume.pdf">
    Download as PDF
    
</a></p>
   
   
     <ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
 <h3>Graduation</h3>   
<p>Antonio Alves Cruz State High School - High School  - 2008</p>
<p>CPE Level - Cultura Inglesa - 2006</p>
   <p>PHPEssentials - Senac São Paulo - 2008</p>
   <p>Logic Programming -Senac São Paulo - 2009</p>
    <p>ASP.NET C# Development  - K19 - 2010</p>
   </ul>
    
    
   <ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
 <h3>Experience</h3>   
    <h4>Front-end Developer / Webdesigner / Graphic Designer</h4>
    <h5>Centauro</h5>
    
    <p>May 2015 - .. </p>
    
    
    <p>Working at the Front-end Team to ensure best practices and implement documented features,fix bugs,working in connection with the Marketing Team and constantly changing info with the back-end team.
</p>
<h6>Projects :
</h6>

<p> Centauro (http://www.centauro.com.br) , Loja do Flamengo (http://www.flamengoloja.com.br/) ,Shopping Lance (http://www.shoppinglance.com.br/)</p>
   
    <h6>Technologies and Tools:</h6>
    <p>
  ASP.NET C#,HTML5, CSS3,JavaScript,JQuery,GIT,TFS,Adobe Suite ( Photoshop,Illustrator),Adobe Brackets, Visual Studio</p>
    
    
</ul>



   
    
<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">

    <h5>Freelancer</h5>
    
    <p>April 2012 - April 2015 </p>
    
    
    <p>Work with local clients with small budgets and small projects to multinational companies with complex sistems.
</p>
<h6>Clients and Projects :</h6>

<p> Whatabout (http://www.whatabout.com.br) , Fi Bueno (http://www.fibueno.com.br/) , Nova Câmera (http://www.novacamera.com.br) ,MayraAbucham.com.br (http://www.mayraabucham.com.br)
Dedo de Moça (http://www.dedodemoca.net) , Shots (http://www.shots.com.br) , Brookes Presentes (http://brookespresentes.com.br/) , U-ME , Pedro Lobo , Projeto Tocar , Pro Ativa Cosmeticos ,Excellent Global - Escola de Inglês Aeroporto , Panasonic Japão - Smart System , Panasonic Brasil - Panalink , Welcome Cafe (India) , Etnia Brasilis , Árvore Cultural , Joe & Jane , Cahelon .Morex</p>
   
    <h6>Technologies and Tools:</h6>
    <p>
    GIT,TFS ,Angular JS,JavaScript, SASS, HTML5/CSS3 ,Brackets, Adobe Photoshop CS6 ,Adobe Dreamweaver CS6 ,Visual Studio,Wordpress ,PHP/MySQL ,Email Marketing , ASP.net / C# ,Oracle</p>
    
    
</ul>

<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>SMV</h5>
    
    <p>August 2014 - January 2015</p>
    
    
    <p>Mobile Startup.PSD2HTML, Layout Creation, Visual Identity,code optimization, mobile first.</p>
    <h6>Technologies and Tools:</h6>
    <p>
AngularJS,Sass,Brackets,ASP.Net C#,CSS3 ,HTML5 ,Bootstrap,UI/UX , Responsive Design , Photoshop , Visual Studio, TFS, Scrum / Agile</p>
    
    
</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>InterFactory</h5>
    
    <p>March 2013 - January 2014</p>
    
    
    <p>Mobile Startup,Daily Routine was PSD2HTML, Layout Creation, Code Optimization,Mobile First.</p>
      <h6>Technologies and Tools:</h6>
    <p>
Email Marketing, ASP.Net C#,CSS3 ,HTML5 ,Bootstrap , UI/UX , Design Responsivo , Photoshop , Visual Studio , TFS , Scrum / Agile</p>  
    
</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>Ole Olá</h5>
    <p>October 2011 - March 2012</p>
    <p>Web agency.PSD2HTML,Layout Creation. Clients: Estadão,Samsung, Cyrella, MyBabyStore</p>
   <h6>Technologies and Tools:</h6>
    <p>Email Marketing, PHP, ASP.NET C#, CSS3 , HTML5</p>

</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>INCA</h5>
    <p>May 2010 - October 2012</p>
    <p>Mobile Startup.PSD2HTML ,Code Optimization, Responsive Layouts,Layout Creations, Visual Identity.</p>
     <h6>Technologies and Tools:</h6>
    <p>Photoshop , Dreamweaver , JavaScript ,JQuery  ,Oracle , ASP.NET C# , PHP , Oracle , Visual Studio</p>

</ul>








</div>
