<style>
.pt-br{display:none;}
</style>

   <div class="main-works"  ng-repeat="post in posts"  ng-if="post.slug=='panalink'" >

   <aside class="works-cat col-lg-2" > 
   <h3>Next Project</h3>
          
    <ul class="roll">
       <li><a href="{{post.next}}">{{post.nextitle}}</a></li> 
    </ul>
    
      <h3>Previous Project</h3>
          
    <ul class="roll">
       <li><a href="{{post.prev}}">{{post.prevtitle}}</a></li> 
    </ul>
    
   <ng-include src="'views/works-menu.html'"> </ng-include>
   
</aside>


<section  class="works work-in col-lg-10"  >  
   <h1>{{post.title}}</h1> <p> <a href="{{post.description}}" class="side-link" target="blank">{{post.description}}</a></p>

            <span class="details">{{post.details}}</span>

            
   <h3>Specifications</h3>
   
   
    <span class="details">{{post.spec}}</span>
     <span class="details">{{post.work}}</span>
     
       
        
   <h3>Screens</h3>
    <ul ng-controller="PanelController as panel" >
    
        
       <a id="img1" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1) }"> <li>
        <img src="{{post.img1}}"/>
        <p>{{post.screen1}}</p>
        </li></a>
<a  ng-click="panel.selectTab(2)" ng-class="{active: panel.isSelected(2) }"> <li>
        <img src="{{post.img2}}"/>
        <p>{{post.screen2}}</p>
        </li></a>
        <a  ng-click="panel.selectTab(3)" ng-class="{active: panel.isSelected(3) }" > <li>
        <img src="{{post.img3}}"/>
        <p>{{post.screen3}}</p>
        </li></a>
        <a  ng-click="panel.selectTab(4)" ng-class="{active: panel.isSelected(4) }"> <li>
        <img src="{{post.img4}}"/>
        <p>{{post.screen4}}</p>
        </li></a>
     
      <a  ng-click="panel.selectTab(5)" ng-class="{active: panel.isSelected(5) }"> <li>
        <img src="{{post.img5}}"/>
        <p>{{post.screen5}}</p>
        </li></a>
        
             <a  ng-click="panel.selectTab(6)" ng-class="{active: panel.isSelected(6) }"> <li>
        <img src="{{post.img6}}"/>
        <p>{{post.screen6}}</p>
        </li></a>
        
             <a  ng-click="panel.selectTab(7)" ng-class="{active: panel.isSelected(7) }"> <li>
        <img src="{{post.img7}}"/>
        <p>{{post.screen7}}</p>
        </li></a>
        
         <a  ng-click="panel.selectTab(8)" ng-class="{active: panel.isSelected(8) }"> <li>
        <img src="{{post.img8}}"/>
        <p>{{post.screen8}}</p>
        </li></a>
        <div ng-show='panel.isSelected(0)' ></div>
    
        
         <div  ng-show='panel.isSelected(1)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(8)"></a></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen1}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull1}}" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(2)"></a></div>
        </div>
        
          <div  ng-show='panel.isSelected(2)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(1)"></a></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen2}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull2}}" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(3)"></a></div>
        </div>
        
            <div  ng-show='panel.isSelected(3)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(2)"></a></div>
       <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen3}}</h2> </div><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull3}}"   class="img-responsive"/>  </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(4)"></a></div>
        </div>
        
            <div  ng-show='panel.isSelected(4)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(3)"></a></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen4}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull4}}" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(5)"></a></div>
        </div>
        <div  ng-show='panel.isSelected(5)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(4)"></a></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen5}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull5}}" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(6)"></a></div>
        </div>
              <div  ng-show='panel.isSelected(6)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(5)"></a></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen6}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull6}}" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(7)"></a></div>
        </div>
             <div  ng-show='panel.isSelected(7)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(6)"></a></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <h2>{{post.screen7}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <img src="{{post.imgfull7}}"  class="img-responsive" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(8)"></a></div>
        </div>
        
            <div  ng-show='panel.isSelected(8)'  class="panel full col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <div class="close"><a  ng-click="panel.selectTab(0)"  />CLOSE X</a></div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="prev" ng-click="panel.selectTab(7)"></a></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2>{{post.screen8}}</h2></div> <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="{{post.imgfull8}}" /> </div> </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 seta-full"><a class="next" ng-click="panel.selectTab(1)"></a></div>
        </div>
    </ul>
    

</section>
</div>