              <style>.en{display:none;}</style>
   <div class="col-lg-12 home pt-br dashboard home contact nofloat">

   <h1 class="homeinttl">Contato</h1> 

    
<ul class="col-lg-12 clear">
<form action="http://www.rubenmarcus.com/contact.php"  method="post"> <h3>Sinta-se a vontade para opinar,sugerir,propor.</h3>   
 
   
  <li class="col-lg-8"><input type="text" placeholder="Nome" name="name" required/></li>
  <li class="col-lg-8"><input type="text" placeholder="Empresa" name="company"/></li>
<li class="col-lg-8"><input type="text" placeholder="E-Mail" name="email" required/></li>
    <li class="col-lg-8"><textarea name="message"  placeholder="Mensagem" required></textarea></li>
       <li class="col-lg-8"><input type="submit" value="Enviar" ></li>
</form>
</ul>



</div>
