              <style>.en{display:none;}</style>
   <div class="col-lg-12 home-pt-br dashboard home curriculo nofloat">

   <h1 class="homeinttl">Currículo</h1> 
<p><a  target="blank" href="http://www.rubenmarcus.com/Curriculo.pdf">
    Download como PDF
    
</a></p>
   
   
     <ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
 <h3>Formação</h3>   
<p>Escola Estadual  Antonio Alves Cruz - Ensino Médio  - 2008</p>
<p>Nivel CPE- Cultura Inglesa - 2006</p>
   <p>PHPEssentials - Senac São Paulo - 2008</p>
   <p>Logica de Programação -Senac São Paulo - 2009</p>
    <p>Desenvolvimento Web C# e ASP.NET - K19 - 2010</p>
   </ul>
    
    
   
   
    
<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
 <h3>Experiência</h3>   
    <h4>Desenvolvedor FrontEnd - Webdesigner - Designer Gráfico</h4>
    <h5>Centauro</h5>
    
    <p>Maio 2015 - .. </p>
    
    
    <p>Implementar Layouts e Funcionalidades Documentadas,Acertar Bugs e Correções,Trabalhar auxiliando o Marketing e constantemente em troca de informações com o Back-end.
</p>
<h6>Projetos :
</h6>

<p> Centauro (http://www.centauro.com.br) , Loja do Flamengo (http://www.flamengoloja.com.br/) ,Shopping Lance (http://www.shoppinglance.com.br/)</p>
   
    <h6>Tecnologias e Ferramentas:</h6>
    <p>
  HTML5,CSS3,JavaScript,JQuery,ASP.NET C#,GIT,TFS (Controle de Atividades),Adobe Suite ( Photoshop,Illustrator),Adobe Brackets, Visual Studio</p>
    
    
</ul>


<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
     <h5>Freelancer</h5>
    
    <p>Abril 2012 - Abril 2015 </p>
    
    
    <p>Atender clientes de diversos portes e ramos,desde multinacionais até negocios locais nesses 3 anos de freelances participei de projetos pequenos (hotsites),como sistemas mais complexos 
</p>
<h6>Clientes e Projetos :
</h6>

<p> Whatabout (http://www.whatabout.com.br) , Fi Bueno (http://www.fibueno.com.br/) ,Nova Câmera(http://www.novacamera.com.br) ,MayraAbucham.com.br (http://www.mayraabucham.com.br)
Dedo de Moça (http://www.dedodemoca.net) , Shots (http://www.shots.com.br) , Brookes Presentes (http://brookespresentes.com.br/) , U-ME , Pedro Lobo , Projeto Tocar , Pro Ativa Cosmeticos ,Excellent Global - Escola de Inglês Aeroporto , Panasonic Japão - Smart System , Panasonic Brasil - Panalink , Welcome Cafe (India) , Etnia Brasilis , Árvore Cultural , Joe & Jane , Cahelon .Morex</p>
   
    <h6>Tecnologias e Ferramentas:</h6>
    <p>
    
    GIT,TFS ,Angular JS,JavaScript, SASS, HTML5/CSS3 ,Brackets, Adobe Photoshop CS6 ,Adobe Dreamweaver CS6 ,Visual Studio,Wordpress ,PHP/MySQL ,Email Marketing , ASP.net / C# ,Oracle</p>
    
    
    
</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>SMV</h5>
    
    <p>Agosto 2014 - Janeiro 2015</p>
    
    
    <p>Startup com foco em Apps Mobile.Fazia recortes de layouts vindos de agência terceirizada , como tambem ajudava na criação de telas , além de repaginaçao visual do sistema, otimização de códigos, adequação a mobile. </p>
    <h6>Tecnologias e Ferramentas:</h6>
    <p>
AngularJS,Sass,Brackets,ASP.Net C#,CSS3 ,HTML5 ,Bootstrap,UI/UX , Design Responsivo , Photoshop , Visual Studio, TFS, Scrum / Agile</p>
    
    
</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>InterFactory</h5>
    
    <p>Março 2013 - Janeiro 2014</p>
    
    
    <p>Startup com foco em Apps Mobile, fazia recortes de layouts vindos de agência terceirizada , como tambem ajudava na criação de telas , além de repaginaçao visual do sistema, otimização de códigos, adequação a mobile.</p>
    <h6>Tecnologias e Ferramentas:</h6>
    <p>
Email Marketing, ASP.Net C#,CSS3 ,HTML5 ,Bootstrap , UI/UX , Design Responsivo , Photoshop , Visual Studio , TFS , Scrum / Agile</p>  
    
</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>Ole Olá</h5>
    <p>Outubro 2011 - Março 2012</p>
    <p>Agência web , fazia recortes de layouts , hotsites , criação de telas. Clientes: Estadão,Samsung, Cyrella, MyBabyStore</p>
    <h6>Tecnologias e Ferramentas:</h6>
    <p>Email Marketing, PHP, ASP.NET C#, CSS3 , HTML5</p>

</ul>



<ul class="col-lg-12  col-sm-12 col-xs-12 col-md-12 clear">
    <h5>INCA</h5>
    <p>Maio 2010 - Outubro 2012</p>
    <p>Startup com foco em Apps Mobile, fazia criação de telas , criação de identidade visual da empresa , além de repaginaçao visual do sistema, otimização de códigos, adequação a mobile.</p>
    <h6>Tecnologias e Ferramentas:</h6>
    <p>Photoshop , Dreamweaver , JavaScript ,JQuery  ,Oracle , ASP.NET C# , PHP , Oracle , Visual Studio</p>

</ul>








</div>
