              <style>.en{display:none;}</style>
   <div class="col-lg-12 home-pt-br dashboard home nofloat">
    <p>
    Olá,Eu sou o Ruben Marcus um
    </p>
   <h1>Webdesigner & Desenvolvedor Front-end.</h1> 
    <p class="align-right">de São Paulo,Brasil</p>
    
<ul class="col-lg-4 clear">
 <h3>Qualificações(Master - + 5 anos)</h3>   
    <li><b>Webdesign:</b>Visual Ids,Layouts,Email Marketing,Mobile First</li>
    <li><b>Desenvolvimento Front-end:</b>HTML,CSS3,Javascript,JQuery,Bootstrap</li>
<li><b>Desenvolvimento Back-end:</b> PHP,C# ASP.NET,Wordpress</li>
</ul>
<ul class="col-lg-4">
 <h3>Qualificações(Medium - +1 ano)</h3>   
    <li><b>CSS:</b> Sass,Less,Stylus,PostCSS</li>
    <li><b>Desenvolvimento Front-end:</b>Foundation,AngularJS,Twig,Jade(Pug)</li>
    <li><b>Ferramentas:</b>Yeoman,Gulp,Grunt,NPM</li>
</ul>
<ul class="col-lg-4">
 <h3>Ferramentas</h3>   
     <li><b>Controle de Versão:</b> TFS,GIT</li>
    <li><b>Desenvolvimento:</b> Brackets,Sublime,Dreamweaver,Visual Studio</li>
    <li><b>Gráficas: </b>Photoshop,Illustrator,After Effects,Premiere</li>
</ul>

<div class="full-cv">
    
   <a href="curriculo">Veja meu Currículo Completo</a>
    
</div>


</div>
<section class="col-lg-12 clients"> 
 <h3>Clientes</h3> <p><a href="contato">Seja o Próximo</a></p>  
      <ul>
<li class="c4"></li>
<li class="c5"></li>
<li class="c2"></li>
<li class="c21"></li>
<li class="c15"></li>
<li class="c13"></li>
<li class="c3"></li>
<li class="c1"></li>
<li class="c6"></li>
<li class="c7"></li>
<li class="c8"></li>
<li class="c9"></li>
<li class="c10"></li>
<li class="c11"></li>
<li class="c12"></li>
<li class="c14"></li>
<li class="c16"></li>
<li class="c17"></li>
<li class="c18"></li>
<li class="c19"></li>
<li class="c20"></li>
<li class="c22"></li>
<li class="c23"></li>
<li class="c24"></li>
<li class="c25"></li>
<li class="c26"></li>
    </ul></section>