              <style>.en{display:none;}</style>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home-pt-br dashboard home nofloat">

   <h1 class="homeinttl">Sobre</h1> 

    
<ul class="col-lg-12 clear">
 <h3>O Ruben</h3>   
    <p>Olá, me chamo Ruben Marcus, tenho 25 anos e trabalho profissionalmente com web desde meus 20 anos.</p>
    <p>Durante esses 5 anos de trabalho, fiz mais de 36 projetos com mais de 26 clientes,entre quais trabalhei em uma agência de web,3 startups e 2 anos como freelancer. </p>
    <p>Paralelamente tenho como hobby,trabalhar com arte e ilustração e desenvolvo 3 projetos nessas áreas : <a href="https://www.facebook.com/trivnglebrvnd">uma marca de camisetas</a>, <a href="https://www.facebook.com/2121nu">uma pagina onde divulgo idéias e artistas</a>, <a href="https://www.facebook.com/rubenluz">e algumas artes digitais que faço.</a> </p>
</ul>

<ul class="col-lg-12 clear">
 <h3>Passado</h3>   
    <p>Como você pode ver no meu portfolio, coloquei alguns trabalhos que fiz antes de 2011.</p>
    <p>Esses trabalhos na verdade começaram muito antes disso, quando eu tinha meus 12 anos e ganhei meu primeiro PC,comecei a fuçar nos programas e montar sites de anime e de música sem nenhuma pretensão.</p>
    <p> Do hobby nasceu uma profissão, meu pai é programador, mas como eu tive mais facilidade de desenvolver tambem a parte visual, tive um foco mais pro front-end do que back-end.</p>
     <p> Antes de 2011,fiz além de alguns projetos pessoais,cheguei a fazer freelas para conhecidos.</p>
</ul>

<ul class="col-lg-12 clear">
 <h3>Futuro</h3>   
    <p>No momento tenho alguns projetos de 2014 que ainda não foram publicados,devido a contrato com cliente, além de projetos que vão ao ar muito em breve(em torno de 6).</p>
    <p>Além disso, quero ter uma melhor produção e foco não só nos sites,mas nos projetos em geral.Conseguir oferecer soluções cada vez mais consistentes para meus clientes.</p>
    <p> Estou focando bastante meu aprendizado nos frameworks de javascript (esse site foi feito em AngularJs) ,pré processadores,automatizadores e toda ferramenta que agregue valor ao meu trabalho.</p>
     <p>Em breve espero tambem, poder divulgar no github,alguns códigos e projetos que já fiz e alguns que estou fazendo.</p>
</ul>



</div>
